[Unit]
Description=epic-software
After=network.target

[Service]
Type=simple
ExecStart={{PATH}}
Restart=on-failure

[Install]
WantedBy=multi-user.target